@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Ubuntu:wght@300&display=swap');

:root {
  --color-white: #FFF;
  --color-dark-gray: #888;
  --color-light-gray: #AAA;
  --color-7-gray: #777;
  --color-5-gray: #555;

  --color-bg-footer: #333;
  --color-bg-card: #EEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  padding: 18px 31px 18px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header .logo-container {
  display: flex;
  align-items: center;
  width: 240px;
}

header .logo-container h3 {
  color: var(--color-7-gray);
  text-transform: uppercase;
  font-size: 60px;
}

header .logo-container p {
  color: var(--color-light-gray);
  font-size: 20px;
  margin-left: 8px;
}

header img {
  width: 30px;
  cursor: pointer;
}

main{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 44px;
}

.carrousel{
  width: 100%;
  height: 400px;
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.carrousel div{
  background-color: rgba(141, 141, 141, 0.62);
  height: 39px;
  width: 39px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cards-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.card-1:hover{
  cursor: pointer;
}
.card-2:hover{
  cursor: pointer;
}

.card-1{
  width: 40%;
  height: auto;
  background-color: var(--color-bg-card);
}
.card-1 img{
  width: 100%;
  height: 224px;
}
.card-1 .preco-tag-description{
  margin: 7px 15px 0 15px;
}
.card-1 .preco-tag{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  height: 32px;
  font-size: 32px;
}
.card-1 .preco-tag p{
  color: var(--color-7-gray);
}

.card-1 .preco-tag div{
  color: var(--color-white);
  background-color: #51D275;
  padding: 2px 10px 2px 10px;
  border-radius: 30px 30px 30px 30px;
}

.card-2{
  width: 40%;
  height: auto;
  background-color: var(--color-bg-card);
}

.card-2 img{
  width: 100%;
  height: 224px;
}
.card-2 .preco-tag-description{
  margin: 7px 15px 0 15px;
}
.card-2 .preco-tag{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  height: 32px;
  font-size: 32px;
}
.card-2 .preco-tag p{
  color: var(--color-7-gray);
}

.card-2 .preco-tag div{
  color: var(--color-white);
  background-color: #DC9730;
  ;
  padding: 2px 10px 2px 10px;
  border-radius: 30px 30px 30px 30px;
}

.description{
  font-size: 24px;
  margin-bottom: 10px;
}

.categorias{
  display: flex;
  margin: 50px 0 70px 0;
  flex-direction: column;
  align-items: center;
}

.categorias h1{
  color: var(--color-7-gray);
  font-size: 62px;
}

.categorias nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0 0;
  width: 100%;
}

.categorias nav .categoria-1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-repeat: none;
  background-size: cover;
  background-image: url("../img/secao2-1.svg");
  font-size: 32px;
  color: var(--color-white);
  text-shadow: black 0.05em 0.05em 0.1em;
  margin: 0 0 25px 0;
}

.categorias nav .categoria-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-repeat: none;
  background-size: cover;
  background-image: url("../img/secao2-2.svg");
  font-size: 32px;
  color: var(--color-white);
  text-shadow: black 0.05em 0.05em 0.1em;
  margin: 0 0 25px 0;
}
.categorias nav .categoria-3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-repeat: none;
  background-size: cover;
  background-image: url("../img/secao2-3.svg");
  color: var(--color-white);
  text-shadow: black 0.05em 0.05em 0.1em;
  margin: 0 0 25px 0;
}

.categorias nav label {
  font-size: 60px;
}

label:hover{
  cursor: pointer;
  text-decoration: underline;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-footer);
  padding-bottom: 80px;
}

.mapa{
  margin: 60px 0 30px 20px;
  height: 420px;
}

footer div{
  color: var(--color-white);
  font-size: 42px;
  margin-right: 80px;
}

ul{
  list-style-type: none;
  margin: 60px 0 100px 0
}
li{
  margin: 0 0 40px 0;
}

a img{
  height: 60px;
  margin: 10px 70px 0 0;
}